Repository upb-uc4/lagom-core, pull requests merged in 2020-06, with the labels that each got.

#50 Feature/hyperledger dev network
  product_code/hyperledger/.gitignore
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/chaincode/settings.gradle
  product_code/hyperledger/chaincode/src/main/java/Lecture.java
  product_code/hyperledger/chaincode/src/main/java/LectureChaincode.java
  product_code/hyperledger/chaincode/src/main/java/Lecturer.java
  product_code/hyperledger/dev_network/docker-compose-simple.yaml
  product_code/hyperledger/dev_network/msp/admincerts/admincert.pem
  product_code/hyperledger/dev_network/msp/cacerts/cacert.pem
  product_code/hyperledger/dev_network/msp/keystore/key.pem
  product_code/hyperledger/dev_network/msp/signcerts/peer.pem
  product_code/hyperledger/dev_network/msp/tlscacerts/tlsroot.pem
  product_code/hyperledger/dev_network/msp/tlsintermediatecerts/tlsintermediate.pem
  product_code/hyperledger/dev_network/myc.tx
  product_code/hyperledger/dev_network/orderer.block
  product_code/hyperledger/dev_network/scripts/chaincode.sh
  product_code/hyperledger/dev_network/scripts/cli.sh
Labels: Hyperledger, enhancement

#62 Provide Feature: Chaincode-Access via Scala
  .gitignore
  product_code/hyperledger/api/README.md
  product_code/hyperledger/api/build.sbt
  product_code/hyperledger/api/connection_profile.yaml
  product_code/hyperledger/api/deployCC.sh
  product_code/hyperledger/api/networkDown.sh
  product_code/hyperledger/api/src/main/scala/ClientApp.scala
  product_code/hyperledger/api/src/main/scala/EnrollAdmin.scala
  product_code/hyperledger/api/src/main/scala/RegisterUser.scala
  product_code/hyperledger/api/src/test/scala/Test.scala
  product_code/hyperledger/api/startFabric.sh
  product_code/hyperledger/api/wallet/cli.id
  product_code/hyperledger/dev_network/docker-compose-simple.yaml
  product_code/hyperledger/filler.md
  product_code/vue/filler.md
Labels: Hyperledger, enhancement

#63 Provide Pipeline for Hyperldedger deployment and chaincode Tests
  .github/workflows/scala.yml
  product_code/hyperledger/dev_network/docker-compose-simple.yaml
Labels: Hyperledger, enhancement

#65 Feature/hyperledger dev network
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/dev_network/README.md
  product_code/hyperledger/dev_network/network.sh
  product_code/hyperledger/dev_network/scripts/chaincode.sh
  product_code/hyperledger/dev_network/scripts/cli.sh
  product_code/hyperledger/dev_network/scripts/variables.sh
Labels: documentation

#75 Feature/user service
  product_code/lagom/.gitignore
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationApplication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/build.sbt
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/GetAllUsersResponse.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/JsonUsername.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/User.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageAdmin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageLecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageStudent.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/AuthenticationUser.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/impl/src/main/resources/application.conf
  product_code/lagom/user_service/impl/src/main/resources/logback.xml
  product_code/lagom/user_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserApplication.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserLoader.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserSerializerRegistry.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserBehaviour.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/CreateUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/DeleteUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/GetUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UpdateUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UserCommand.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UserCommandSerializable.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserCreate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserDelete.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserUpdate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/UserEvent.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserEventProcessor.scala
  product_code/lagom/user_service/impl/src/test/resources/logback.xml
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#76 Setup github actions pipeline
  .github/workflows/lagom.yaml
  product_code/lagom/authentication_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/course_service/impl/src/test/resources/logback-test.xml
Labels: Lagom

#77 Add identifiedAuthenticated wrapper
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/model/AuthenticationResponse.scala
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/model/AuthenticationRole.scala
  product_code/lagom/authentication_service/impl/src/main/resources/application.conf
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationApplication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/build.sbt
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/shared/src/main/scala/de/upb/cs/uc4/shared/ServiceCallFactory.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/AuthenticationUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#78 Feature/user service response codes
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom
