Repository upb-uc4/lagom-core, pull requests merged in 2020-07, with the labels that each got.

#84 Reverted Authentication
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/shared/src/main/scala/de/upb/cs/uc4/shared/ServiceCallFactory.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#86 Feature/lagom/kafka test enviroment
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/build.sbt
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserApplication.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserLoader.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#85 Feature/hyperledger chaincode courses
  .github/workflows/hyperledger.yml
  product_code/hyperledger/api/build.sbt
  product_code/hyperledger/api/src/main/scala/ClientApp.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeConnection.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeQuickAccess.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ConnectionManager.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTrait.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeTrait.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ConnectionManagerTrait.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeConnectionObjectTests.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeQuickAccessTests.scala
  product_code/hyperledger/api/src/test/scala/ConnectionTests.scala
  product_code/hyperledger/api/src/test/scala/Test.scala
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/chaincode/gradle/wrapper/gradle-wrapper.jar
  product_code/hyperledger/chaincode/gradle/wrapper/gradle-wrapper.properties
  product_code/hyperledger/chaincode/gradlew
  product_code/hyperledger/chaincode/gradlew.bat
  product_code/hyperledger/chaincode/src/main/java/Lecture.java
  product_code/hyperledger/chaincode/src/main/java/LectureChaincode.java
  product_code/hyperledger/chaincode/src/main/java/Lecturer.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/CourseChaincode.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/GsonWrapper.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/model/Course.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/model/Error.java
  product_code/hyperledger/chaincode/src/test/java/de/upb/cs/uc4/chaincode/CourseChaincodeTest.java
  product_code/hyperledger/dev_network/README.md
  product_code/hyperledger/dev_network/myc.block
  product_code/lagom/build.sbt
  product_code/lagom/hyperledger_service/api/src/main/scala/de/upb/cs/uc4/hyperledger/api/HyperLedgerService.scala
  product_code/lagom/hyperledger_service/impl/src/main/resources/application.conf
  product_code/lagom/hyperledger_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerApplication.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerSerializerRegistry.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceImpl.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/actor/HyperLedgerBehaviour.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/HyperLedgerCommand.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/HyperLedgerCommandSerializable.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/Read.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/Shutdown.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/Write.scala
  product_code/lagom/hyperledger_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/hyperledger_service/impl/src/test/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerBehaviourSpec.scala
  product_code/lagom/hyperledger_service/impl/src/test/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceSpec.scala
Labels: Hyperledger, enhancement

#95 Feature/lagom/user refactor
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/messages/Confirmation.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/CreateUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/GetUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UpdateUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserCreate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserDelete.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserUpdate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#96 feature/error_codes_course
  product_code/lagom/build.sbt
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseStateSpec.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/DetailedError.scala
Labels: Lagom

#102 feature/lagom_response_refactor
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/build.sbt
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/DetailedError.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#104 Feature/lagom find course by lecturer
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
Labels: Lagom

#106 Feature/hyperledger dev network
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/dev_network/README.md
  product_code/hyperledger/dev_network/scripts/chaincode.sh
  product_code/hyperledger/dev_network/scripts/cli.sh
Labels: Hyperledger, bug

#108 Feature/lagom/remove cassandra
  .github/workflows/lagom.yaml
  product_code/lagom/ReadMe.md
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/impl/src/main/resources/application.conf
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationApplication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationSerializerRegistry.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/actor/AuthenticationBehaviour.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/actor/AuthenticationEntry.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/actor/AuthenticationState.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/AuthenticationCommand.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/AuthenticationCommandSerializable.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/DeleteAuthentication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/GetAuthentication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/SetAuthentication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/events/AuthenticationEvent.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/events/OnDelete.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/events/OnSet.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/readside/AuthenticationDatabase.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/readside/AuthenticationEventProcessor.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationStateSpec.scala
  product_code/lagom/build.sbt
  product_code/lagom/course_service/impl/src/main/resources/application.conf
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseApplication.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/readside/CourseDatabase.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/readside/CourseEventProcessor.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/docker-compose.yaml
  product_code/lagom/schemas/authentication.sql
  product_code/lagom/schemas/shema.sql
  product_code/lagom/user_service/impl/src/main/resources/application.conf
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserApplication.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserEventProcessor.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#105 Add that in addCourse, updateCourse, updateUser, only the owner of th…
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#110 Feature/lagom/deployment
  product_code/lagom/ReadMe.md
  product_code/lagom/authentication_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/course_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/deploy/cassandra-service.yaml
  product_code/lagom/deploy/cassandra-statefulset.yaml
  product_code/lagom/deploy/deploy.sh
  product_code/lagom/deploy/init_postgres.sh
  product_code/lagom/deploy/kafka/kafka-single.yaml
  product_code/lagom/deploy/kafka/kafka.yaml
  product_code/lagom/deploy/postgres/postgres-configmap.yaml
  product_code/lagom/deploy/postgres/postgres-deployment.yaml
  product_code/lagom/deploy/postgres/postgres-service.yaml
  product_code/lagom/deploy/postgres/postgres-storage.yaml
  product_code/lagom/deploy/services/authentication.yaml
  product_code/lagom/deploy/services/course.yaml
  product_code/lagom/deploy/services/hyperledger.yaml
  product_code/lagom/deploy/services/user.yaml
  product_code/lagom/deploy/traefik/ingress-route.yaml
  product_code/lagom/deploy/traefik/traefik-deployment.yaml
  product_code/lagom/deploy/traefik/traefik-router.yaml
  product_code/lagom/deploy/traefik/traefik-service.yaml
  product_code/lagom/schemas/authentication.sql
  product_code/lagom/schemas/shema.sql
  product_code/lagom/user_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#111 Add deserializer to CustomException serializer
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/CustomExceptionSerializer.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/DetailedError.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/ServiceCallFactory.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#114 Change fields in standard Users in database and in tests
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#112 Add ReadSide tests
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#125 Remove ambiguous endpoints
  product_code/lagom/build.sbt
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
Labels: Lagom

#121 Feature/hyperledger chaincode courses
  .github/workflows/hyperledger.yml
  .github/workflows/integration_test.yml
  product_code/hyperledger/.gitignore
  product_code/hyperledger/api/build.sbt
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeConnection.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeQuickAccess.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ConnectionManager.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTrait.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeConnectionObjectTests.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeQuickAccessTests.scala
  product_code/hyperledger/api/src/test/scala/ConnectionTests.scala
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/CourseChaincode.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/GsonWrapper.java
  product_code/hyperledger/chaincode/src/test/java/de/upb/cs/uc4/chaincode/CourseChaincodeTest.java
  product_code/hyperledger/dev_network/README.md
  product_code/hyperledger/dev_network/myc.block
  product_code/lagom/ReadMe.md
  product_code/lagom/build.sbt
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/model/Course.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/lagom/deploy/deploy.sh
  product_code/lagom/deploy/services/hl_course.yaml
  product_code/lagom/deploy/services/hyperledger.yaml
  product_code/lagom/deploy/traefik/traefik-router.yaml
  product_code/lagom/hl_course_service/api/src/main/scala/de/upb/cs/uc4/hl/course/api/HlCourseService.scala
  product_code/lagom/hl_course_service/impl/src/main/resources/application.conf
  product_code/lagom/hl_course_service/impl/src/main/resources/logback.xml
  product_code/lagom/hl_course_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseApplication.scala
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseLoader.scala
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceImpl.scala
  product_code/lagom/hl_course_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/hl_course_service/impl/src/test/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceSpec.scala
  product_code/lagom/hyperledger_service/api/src/main/scala/de/upb/cs/uc4/hyperledger/api/HyperLedgerService.scala
  product_code/lagom/hyperledger_service/impl/src/main/resources/application.conf
  product_code/lagom/hyperledger_service/impl/src/main/resources/connection_profile.yaml
  product_code/lagom/hyperledger_service/impl/src/main/resources/wallet/cli.id
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerApplication.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceImpl.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/actor/HyperLedgerBehaviour.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/Read.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/commands/Write.scala
  product_code/lagom/hyperledger_service/impl/src/test/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceSpec.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/AuthenticationComponent.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/hyperledger/HyperLedgerSession.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/hyperledger/HyperledgerComponent.scala
  product_test/automatic_test/filler.md
  product_test/automatic_test/hyperledger_service_test/build.sbt
  product_test/automatic_test/hyperledger_service_test/project/plugins.sbt
  product_test/automatic_test/hyperledger_service_test/src/test/scala/de/upb/cs/uc4/hyperledger/hyperledger_service/test/HyperledgerServiceTest.scala
  product_test/automatic_test/hyperledger_service_test/src/test/scala/de/upb/cs/uc4/test_resources/TestCourses.scala
  product_test/manual_test/BasicDirtyManualTest.md
  product_test/manual_test/filler.md
Labels: Hyperledger, Lagom, enhancement

#132 Add change password feature
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/build.sbt
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/DetailedError.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserSerializerRegistry.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UpdatePassword.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnPasswordUpdate.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom, enhancement

#137 Update course validation
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/model/Course.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseStateSpec.scala
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceImpl.scala
  product_code/lagom/hl_course_service/impl/src/test/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceSpec.scala
  product_code/lagom/hyperledger_service/impl/src/test/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceSpec.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/ServiceCallFactory.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/hyperledger/HyperledgerComponent.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#138 Feature/console exception suppression
  product_code/lagom/authentication_service/impl/src/main/resources/logback.xml
  product_code/lagom/build.sbt
  product_code/lagom/course_service/impl/src/main/resources/logback.xml
  product_code/lagom/hl_course_service/impl/src/main/resources/logback.xml
  product_code/lagom/hyperledger_service/impl/src/main/resources/logback.xml
  product_code/lagom/user_service/impl/src/main/resources/logback.xml
Labels: Lagom

#136 Feature/update user validation
  product_code/lagom/build.sbt
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/CustomExceptionSerializer.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/DetailedError.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/AuthenticationUser.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#143 Feature/lagom/version number
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceImpl.scala
  product_code/lagom/hl_course_service/impl/src/test/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceSpec.scala
  product_code/lagom/hyperledger_service/api/src/main/scala/de/upb/cs/uc4/hyperledger/api/HyperLedgerService.scala
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceImpl.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/JsonVersionNumber.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/UC4Service.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom, enhancement

#151 Feature/validation fix
  product_code/lagom/authentication_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/course_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/hl_course_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/hyperledger_service/impl/src/test/resources/logback-test.xml
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/AuthenticationUser.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/resources/logback.xml
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#157 Feature/lagom/fix hyperledger service
  product_code/lagom/build.sbt
  product_code/lagom/deploy/connection_profile.yaml
  product_code/lagom/deploy/deploy.sh
  product_code/lagom/deploy/init_postgres.sh
  product_code/lagom/deploy/kafka/kafka-single.yaml
  product_code/lagom/deploy/kafka/kafka.yaml
  product_code/lagom/deploy/postgres/postgres-configmap.yaml
  product_code/lagom/deploy/postgres/postgres-deployment.yaml
  product_code/lagom/deploy/postgres/postgres-service.yaml
  product_code/lagom/deploy/postgres/postgres-storage.yaml
  product_code/lagom/deploy/rbac.yaml
  product_code/lagom/deploy/services/authentication.yaml
  product_code/lagom/deploy/services/course.yaml
  product_code/lagom/deploy/services/hl_course.yaml
  product_code/lagom/deploy/services/hyperledger.yaml
  product_code/lagom/deploy/services/user.yaml
  product_code/lagom/deploy/traefik/ingress-route.yaml
  product_code/lagom/deploy/traefik/traefik-deployment.yaml
  product_code/lagom/deploy/traefik/traefik-router.yaml
  product_code/lagom/deploy/traefik/traefik-service.yaml
  product_code/lagom/deploy/wallet/cli.id
  product_code/lagom/hyperledger_service/impl/src/main/resources/hyperledger_assets/connection_profile.yaml
  product_code/lagom/hyperledger_service/impl/src/main/resources/hyperledger_assets/connection_profile_release.yaml
  product_code/lagom/hyperledger_service/impl/src/main/resources/hyperledger_assets/wallet/cli.id
  product_code/lagom/hyperledger_service/impl/src/main/resources/prod-application.conf
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerApplication.scala
Labels: Hyperledger, Lagom

#153 Feature/lagom/fixing password leak
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/model/AuthenticationUser.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationApplication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/actor/AuthenticationState.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/commands/SetAuthentication.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/events/OnSet.scala
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/readside/AuthenticationDatabase.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationStateSpec.scala
  product_code/lagom/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/lagom/hl_course_service/impl/src/test/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceSpec.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageAdmin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageLecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/post/PostMessageStudent.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserSerializerRegistry.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/actor/UserState.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/CreateUser.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/commands/UpdatePassword.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnPasswordUpdate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/events/OnUserCreate.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom
