Repository upb-uc4/lagom-core, pull requests merged in 2020-08, with the labels that each got.

#164 Fix ambiguous endpoint
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/hyperledger_service/api/src/main/scala/de/upb/cs/uc4/hyperledger/api/HyperLedgerService.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/UC4Service.scala
Labels: Lagom

#160 HL-Scala-API :: added matriculationAccess as defined in the API-ref
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTrait.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTraitCourses.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTraitStudents.scala
Labels: Hyperledger, enhancement

#161 Added namespace support
  product_code/lagom/deploy/connection_profile.yaml
  product_code/lagom/deploy/deploy.sh
  product_code/lagom/deploy/init_postgres.sh
  product_code/lagom/deploy/postgres/postgres-configmap.yaml
  product_code/lagom/deploy/postgres/postgres-deployment.yaml
  product_code/lagom/deploy/postgres/postgres-service.yaml
  product_code/lagom/deploy/postgres/postgres-storage.yaml
  product_code/lagom/deploy/rbac.yaml
  product_code/lagom/deploy/services/authentication.yaml
  product_code/lagom/deploy/services/course.yaml
  product_code/lagom/deploy/services/hl_course.yaml
  product_code/lagom/deploy/services/hyperledger.yaml
  product_code/lagom/deploy/services/user.yaml
  product_code/lagom/deploy/traefik/traefik-router.yaml
  product_code/lagom/deploy/wallet/cli.id
Labels: Lagom

#169 Better auto acl in UC4Service.scala
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/UC4Service.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
Labels: Lagom, enhancement

#176 Publicly visible profile
  product_code/lagom/user_service/CHANGELOG.md
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#175 Feature/exceptions qol
  product_code/lagom/authentication_service/CHANGELOG.md
  product_code/lagom/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/lagom/course_service/CHANGELOG.md
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/hl_course_service/CHANGELOG.md
  product_code/lagom/hl_course_service/impl/src/main/scala/de/upb/cs/uc4/hl/course/impl/HlCourseServiceImpl.scala
  product_code/lagom/hyperledger_service/CHANGELOG.md
  product_code/lagom/hyperledger_service/impl/src/main/scala/de/upb/cs/uc4/hyperledger/impl/HyperLedgerServiceImpl.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomError.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomException.scala
  product_code/lagom/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/ServiceCallFactory.scala
  product_code/lagom/user_service/CHANGELOG.md
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
Labels: Lagom

#180 Merge branch misc_fixes
  product_code/lagom/course_service/CHANGELOG.md
  product_code/lagom/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#181 Feature/remove hyperledger code
  .github/workflows/hyperledger.yml
  product_code/hyperledger/.gitignore
  product_code/hyperledger/api/README.md
  product_code/hyperledger/api/build.sbt
  product_code/hyperledger/api/connection_profile.yaml
  product_code/hyperledger/api/deployCC.sh
  product_code/hyperledger/api/networkDown.sh
  product_code/hyperledger/api/src/main/scala/EnrollAdmin.scala
  product_code/hyperledger/api/src/main/scala/RegisterUser.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeConnection.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ChaincodeQuickAccess.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/ConnectionManager.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeActionsTrait.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ChaincodeTrait.scala
  product_code/hyperledger/api/src/main/scala/de/upb/cs/uc4/hyperledger/traits/ConnectionManagerTrait.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeConnectionObjectTests.scala
  product_code/hyperledger/api/src/test/scala/ChaincodeQuickAccessTests.scala
  product_code/hyperledger/api/src/test/scala/ConnectionTests.scala
  product_code/hyperledger/api/startFabric.sh
  product_code/hyperledger/api/wallet/cli.id
  product_code/hyperledger/chaincode/build.gradle
  product_code/hyperledger/chaincode/gradle/wrapper/gradle-wrapper.jar
  product_code/hyperledger/chaincode/gradle/wrapper/gradle-wrapper.properties
  product_code/hyperledger/chaincode/gradlew
  product_code/hyperledger/chaincode/gradlew.bat
  product_code/hyperledger/chaincode/settings.gradle
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/CourseChaincode.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/GsonWrapper.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/model/Course.java
  product_code/hyperledger/chaincode/src/main/java/de/upb/cs/uc4/chaincode/model/Error.java
  product_code/hyperledger/chaincode/src/test/java/de/upb/cs/uc4/chaincode/CourseChaincodeTest.java
  product_code/hyperledger/dev_network/README.md
  product_code/hyperledger/dev_network/docker-compose-simple.yaml
  product_code/hyperledger/dev_network/msp/admincerts/admincert.pem
  product_code/hyperledger/dev_network/msp/cacerts/cacert.pem
  product_code/hyperledger/dev_network/msp/keystore/key.pem
  product_code/hyperledger/dev_network/msp/signcerts/peer.pem
  product_code/hyperledger/dev_network/msp/tlscacerts/tlsroot.pem
  product_code/hyperledger/dev_network/msp/tlsintermediatecerts/tlsintermediate.pem
  product_code/hyperledger/dev_network/myc.tx
  product_code/hyperledger/dev_network/network.sh
  product_code/hyperledger/dev_network/orderer.block
  product_code/hyperledger/dev_network/scripts/chaincode.sh
  product_code/hyperledger/dev_network/scripts/cli.sh
  product_code/hyperledger/dev_network/scripts/variables.sh
Labels: Hyperledger

#183 Add optional query parameters to GET users
  product_code/lagom/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/lagom/user_service/CHANGELOG.md
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#184 Added phone number field to all users
  product_code/lagom/user_service/CHANGELOG.md
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/readside/UserDatabase.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserSpec.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserStateSpec.scala
Labels: Lagom

#190 Add better dynamic binding
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Admin.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Lecturer.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/Student.scala
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
Labels: Lagom, refactor

#197 Feature/test reports
  .github/workflows/lagom.yaml
  product_code/lagom/build.sbt
  product_code/lagom/project/build.properties
  product_code/lagom/project/plugins.sbt
Labels: Lagom

#199 Add check on POST, if username in authUser and user are different
  product_code/lagom/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/lagom/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom

#204 Feature/lagom message serializer
  product_code/lagom/authentication_service/CHANGELOG.md
  product_code/lagom/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/lagom/course_service/CHANGELOG.md
  product_code/lagom/course_service/api/src/main/scala/de/upb/cs/uc4/course/api/CourseService.scala
  product_code/lagom/hl_course_service/CHANGELOG.md
  product_code/lagom/matriculation_service/CHANGELOG.md
  product_code/lagom/matriculation_service/api/src/main/scala/de/upb/cs/uc4/matriculation/api/MatriculationService.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomError.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomExceptionSerializer.scala
  product_code/lagom/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/message_serialization/CustomMessageSerializer.scala
  product_code/lagom/user_service/CHANGELOG.md
  product_code/lagom/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
Labels: Lagom

#215 Feature/test enhancement
  product_code/authentication_service/api/src/test/scala/de/upb/cs/uc4/authentication/AuthenticationUserSpec.scala
  product_code/course_service/api/src/main/scala/de/upb/cs/uc4/course/model/Course.scala
  product_code/course_service/api/src/test/scala/de/upb/cs/uc4/course/CourseSpec.scala
  product_code/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/actor/CourseState.scala
  product_code/matriculation_service/api/src/test/scala/de/upb/cs/uc4/matriculation/PutMessageMatriculationDataSpec.scala
  product_code/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/Address.scala
  product_code/user_service/api/src/main/scala/de/upb/cs/uc4/user/model/user/User.scala
  product_code/user_service/api/src/test/scala/de/upb/cs/uc4/user/UserSpec.scala
  product_code/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserSpec.scala
  product_test/test_documentation/validation/authentication-management.md
  product_test/test_documentation/validation/course-management.md
  product_test/test_documentation/validation/matriculation-management.md
  product_test/test_documentation/validation/user-management.md
Labels: Lagom

#227 Remove LaTeX from markdown, as github does not properly display them
  product_test/test_documentation/validation/authentication-management.md
  product_test/test_documentation/validation/course-management.md
  product_test/test_documentation/validation/matriculation-management.md
  product_test/test_documentation/validation/user-management.md
Labels: Lagom

#230 Feature/move test data
  product_code/authentication_service/api/src/test/scala/de/upb/cs/uc4/authentication/AuthenticationServiceStub.scala
  product_code/authentication_service/api/src/test/scala/de/upb/cs/uc4/authentication/DefaultTestAuthenticationUsers.scala
  product_code/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/build.sbt
  product_code/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/matriculation_service/impl/src/test/scala/de/upb/cs/uc4/matriculation/impl/MatriculationServiceSpec.scala
  product_code/user_service/api/src/test/scala/de/upb/cs/uc4/user/DefaultTestUsers.scala
  product_code/user_service/api/src/test/scala/de/upb/cs/uc4/user/UserServiceStub.scala
  product_code/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom, refactor

#233 Feature/jwt
  product_code/authentication_service/CHANGELOG.md
  product_code/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/api/AuthenticationService.scala
  product_code/authentication_service/api/src/main/scala/de/upb/cs/uc4/authentication/model/JsonUsername.scala
  product_code/authentication_service/api/src/test/scala/de/upb/cs/uc4/authentication/AuthenticationServiceStub.scala
  product_code/authentication_service/impl/src/main/resources/application.conf
  product_code/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationApplication.scala
  product_code/authentication_service/impl/src/main/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceImpl.scala
  product_code/authentication_service/impl/src/test/scala/de/upb/cs/uc4/authentication/impl/AuthenticationServiceSpec.scala
  product_code/build.sbt
  product_code/course_service/impl/src/main/scala/de/upb/cs/uc4/course/impl/CourseServiceImpl.scala
  product_code/course_service/impl/src/test/scala/de/upb/cs/uc4/course/impl/CourseServiceSpec.scala
  product_code/deploy/deploy.sh
  product_code/deploy/services/authentication.yaml
  product_code/deploy/services/course.yaml
  product_code/deploy/services/matriculation.yaml
  product_code/deploy/services/user.yaml
  product_code/matriculation_service/impl/src/main/scala/de/upb/cs/uc4/matriculation/impl/MatriculationServiceImpl.scala
  product_code/matriculation_service/impl/src/test/scala/de/upb/cs/uc4/matriculation/impl/MatriculationServiceSpec.scala
  product_code/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomError.scala
  product_code/shared/client/src/main/scala/de/upb/cs/uc4/shared/client/exceptions/CustomException.scala
  product_code/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/AuthenticationComponent.scala
  product_code/shared/server/src/main/scala/de/upb/cs/uc4/shared/server/ServiceCallFactory.scala
  product_code/user_service/api/src/main/scala/de/upb/cs/uc4/user/api/UserService.scala
  product_code/user_service/api/src/test/scala/de/upb/cs/uc4/user/UserServiceStub.scala
  product_code/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserApplication.scala
  product_code/user_service/impl/src/main/scala/de/upb/cs/uc4/user/impl/UserServiceImpl.scala
  product_code/user_service/impl/src/test/scala/de/upb/cs/uc4/user/impl/UserServiceSpec.scala
Labels: Lagom, enhancement

#238 Feature/deployment refactor
  deployment/clusters/development_cluster_config.yaml
  deployment/clusters/production_cluster_config.yaml
  deployment/delete_cluster.sh
  deployment/deploy_on_cluster.sh
  deployment/full_start.sh
  deployment/init_postgres.sh
  deployment/kafka/kafka-single.yaml
  deployment/kafka/kafka.yaml
  deployment/postgres/postgres-configmap.yaml
  deployment/postgres/postgres-deployment.yaml
  deployment/postgres/postgres-service.yaml
  deployment/postgres/postgres-storage.yaml
  deployment/rbac.yaml
  deployment/secrets/authentication.yaml
  deployment/secrets/course.yaml
  deployment/secrets/user.yaml
  deployment/services/authentication.yaml
  deployment/services/course.yaml
  deployment/services/matriculation.yaml
  deployment/services/user.yaml
  deployment/start_cluster.sh
  deployment/traefik/ingress-route.yaml
  deployment/traefik/traefik-deployment.yaml
  deployment/traefik/traefik-router.yaml
  deployment/traefik/traefik-service.yaml
Labels: Lagom, enhancement
